@page "/"

<PageTitle>Movie Search App - Home</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1>Movie Search App</h1>
        <p class="lead">
            Search for movies and view detailed information using the OMDb API.
        </p>
        
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <h5>Features</h5>
                <ul class="list-unstyled">
                    <li>Search for movies by title</li>
                    <li>View movie details, ratings, and cast</li>
                    <li>Browse movie posters</li>
                </ul>
            </div>
        </div>

        <a href="/search" class="btn btn-primary btn-lg">
            Start Searching
        </a>
    </div>
</div>